<div class="champions-navbar">
  @for (item of championNavigationService.getItems(); track item) {
  <div
    class="champions-navbar__wrapper"
    (click)="this.navigate(item.link)"
    [class.selected]="this.isSelected(item.link)"
    tabindex="0"
    role="button"
    (keyup)="onKeyUp($event, item.link)"
  >
    <div class="champions-navbar__wrapper__item">
      <img
        [src]="item.icon"
        [alt]="item.name"
        [class.selected]="this.isSelected(item.link)"
      />
      <span [class.selected]="this.isSelected(item.link)">{{ item.name }}</span>
    </div>
    <div
      class="champions-navbar__wrapper__selectedIndicator"
      [class.selected]="this.isSelected(item.link)"
    ></div>
  </div>
  }
</div>
