<div class="article">
  <!-- header -->
  <div class="header">
    <img class="header__image" [src]="champ.icon" [alt]="champ.name" />
    <span class="header__text">Briar</span>
  </div>

  <!-- tip -->
  <div class="subheader">
    <i class="subheader__image ri-lightbulb-fill"></i>
    <span class="subheader__text">Tip</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        You can use
        <a class="item_with_image_round">
          <img [src]="ultimate.icon" [alt]="ultimate.name" /><span
            >Briar's ultimate
          </span>
        </a>

        to fly anywhere across the map. Place your cursor where you want to go
        on your mini-map as you use
        <a class="item_with_image_round">
          <img [src]="ultimate.icon" [alt]="ultimate.name" /><span
            >Briar's ultimate</span
          ></a
        >.
      </p>
    </div>
  </div>

  <!-- how to unlock briar -->
  <div class="subheader">
    <i class="subheader__image ri-key-fill"></i>
    <span class="subheader__text">How to unlock Briar</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        Defeat Briar on The Outskirts map (2nd map).
        <a
          class="item_with_image_round"
          [href]="navigationService.getItemByName(jinx.name).link"
        >
          <img [src]="jinx.icon" [alt]="jinx.name" /><span>{{
            jinx.name
          }}</span>
        </a>
        and
        <a
          class="item_with_image_round"
          [href]="navigationService.getItemByName(leona.name).link"
        >
          <img [src]="leona.icon" [alt]="leona.name" /><span>{{
            leona.name
          }}</span>
        </a>
        are both strong on this map.
      </p>
    </div>
  </div>

  <!-- objectives -->
  <div class="subheader">
    <i class="subheader__image ri-award-fill"></i>
    <span class="subheader__text">Objectives</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        Reach level 30 with Briar to unlock the
        <a class="item_with_image_round">
          <img
            [src]="antiSharkSeaMine.icon"
            [alt]="antiSharkSeaMine.name"
          /><span>{{ antiSharkSeaMine.name }}</span>
        </a>
        weapon.
      </p>
    </div>
  </div>

  <!-- subheader -->
  <div class="subheader">
    <i class="subheader__image ri-book-shelf-fill"></i>
    <span class="subheader__text">Builds</span>
  </div>

  <!-- itembuilds -->
  <div class="container-wrapper-vertical">
    <div class="itembuild" *ngFor="let itemBuild of itemBuilds">
      <div class="itembuild__top">
        <!-- name and desc on left side -->
        <div class="itembuild__top__left">
          <div class="itembuild__top__left__name">
            {{ itemBuild.name }}
          </div>
          <div class="itembuild__top__left__desc">
            {{ itemBuild.desc }}
          </div>
        </div>

        <!-- abilities and weapons on right side -->
        <div class="itembuild__top__right">
          <div class="itembuild__top__right__area">
            <div class="itembuild__top__right__area__title">Abilities</div>
            <div class="itembuild__top__right__area__content">
              <!-- abilities -->
              <div
                class="itembuild__top__right__area__content__item"
                *ngFor="let ability of itemBuild.abilities"
              >
                <img
                  class="itembuild__top__right__area__content__item__image"
                  [src]="ability.icon"
                  [alt]="ability.name"
                />
                <p
                  class="itembuild__top__right__area__content__item__item-text"
                >
                  {{ ability.type }}
                </p>
              </div>
            </div>
          </div>

          <div class="itembuild__top__right__area">
            <div class="itembuild__top__right__area__title">Weapons</div>
            <div class="itembuild__top__right__area__content">
              <!-- weapons -->
              <div
                class="itembuild__top__right__area__content__item"
                *ngFor="let weapon of itemBuild.weapons"
              >
                <img
                  class="itembuild__top__right__area__content__item__image"
                  [src]="weapon.iconEvolve"
                  [alt]="weapon.name"
                />
                <p
                  class="itembuild__top__right__area__content__item__item-text"
                >
                  {{ weapon.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="itembuild__bottom">
        <div class="itembuild__bottom__title">Passives</div>
        <div class="itembuild__bottom__content">
          <div class="itembuild__bottom__content__passives">
            <div
              class="itembuild__bottom__content__passives__passive"
              *ngFor="let passive of itemBuild.passives"
            >
              <img [src]="passive.icon" [alt]="passive.name" />
              <div class="itembuild__bottom__content__passives__passive__name">
                {{ passive.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
