<div class="article">
  <!-- header -->
  <div class="header">
    <img class="header__image" [src]="champ.icon" [alt]="champ.name" />
    <span class="header__text">Seraphine</span>
  </div>

  <!-- tip -->
  <div class="subheader">
    <i class="subheader__image ri-lightbulb-fill"></i>
    <span class="subheader__text">Tip</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        When you first start playing Swarm, you may find the initial few rounds
        difficult. Getting defeated is not bad in Swarm early-on, as your main
        goal should be to get as much gold possible to upgrade your base
        attributes post-game.
      </p>
    </div>
  </div>

  <!-- objectives -->
  <div class="subheader">
    <i class="subheader__image ri-award-fill"></i>
    <span class="subheader__text">Objectives</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        Reach Level 25 with Seraphine to unlock the
        <a class="upgrade_with_image_round">
          <img
            [src]="projectileCount.icon"
            [alt]="projectileCount.name"
          /><span>{{ projectileCount.name }}</span>
        </a>
        passive.
      </p>
    </div>
  </div>

  <!-- subheader -->
  <div class="subheader">
    <i class="subheader__image ri-book-shelf-fill"></i>
    <span class="subheader__text">Builds</span>
  </div>

  <!-- itembuilds -->
  <div class="container-wrapper-vertical">
    <div class="itembuild" *ngFor="let itemBuild of itemBuilds">
      <div class="itembuild__top">
        <!-- name and desc on left side -->
        <div class="itembuild__top__left">
          <div class="itembuild__top__left__name">
            {{ itemBuild.name }}
          </div>
          <div class="itembuild__top__left__desc">
            {{ itemBuild.desc }}
          </div>
        </div>

        <!-- abilities and weapons on right side -->
        <div class="itembuild__top__right">
          <div class="itembuild__top__right__area">
            <div class="itembuild__top__right__area__title">Abilities</div>
            <div class="itembuild__top__right__area__content">
              <!-- abilities -->
              <div
                class="itembuild__top__right__area__content__item"
                *ngFor="let ability of itemBuild.abilities"
              >
                <img
                  class="itembuild__top__right__area__content__item__image"
                  [src]="ability.icon"
                  [alt]="ability.name"
                />
                <p
                  class="itembuild__top__right__area__content__item__item-text"
                >
                  {{ ability.type }}
                </p>
              </div>
            </div>
          </div>

          <div class="itembuild__top__right__area">
            <div class="itembuild__top__right__area__title">Weapons</div>
            <div class="itembuild__top__right__area__content">
              <!-- weapons -->
              <div
                class="itembuild__top__right__area__content__item"
                *ngFor="let weapon of itemBuild.weapons"
              >
                <img
                  class="itembuild__top__right__area__content__item__image"
                  [src]="weapon.iconEvolve"
                  [alt]="weapon.name"
                />
                <p
                  class="itembuild__top__right__area__content__item__item-text"
                >
                  {{ weapon.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="itembuild__bottom">
        <div class="itembuild__bottom__title">Passives</div>
        <div class="itembuild__bottom__content">
          <div class="itembuild__bottom__content__passives">
            <div
              class="itembuild__bottom__content__passives__passive"
              *ngFor="let passive of itemBuild.passives"
            >
              <img [src]="passive.icon" [alt]="passive.name" />
              <div class="itembuild__bottom__content__passives__passive__name">
                {{ passive.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
