<div class="article">
  <!-- header -->
  <div class="header">
    <img class="header__image" src="assets/tierlist.png" alt="Tier list" />
    <span class="header__text">Tier list</span>
  </div>

  <!-- champion tier list -->
  <div class="subheader">
    <i class="subheader__image ri-team-fill"></i>
    <span class="subheader__text">Champion tier list</span>
  </div>

  <!-- tip -->
  <div class="subheader">
    <i class="subheader__image ri-lightbulb-fill"></i>
    <span class="subheader__text">Tip</span>
  </div>

  <div class="container-wrapper-vertical">
    <div class="box objective">
      <p>
        Strongest champions based on unique weapon, damage, and solo-play
        potential.
        <a
          class="item_with_image_round"
          [href]="navigationService.getItemByName(briar.name).link"
        >
          <img [src]="briar.icon" [alt]="briar.name" /><span
            >{{ briar.name }}
          </span> </a
        >,
        <a
          class="item_with_image_round"
          [href]="navigationService.getItemByName(leona.name).link"
        >
          <img [src]="leona.icon" [alt]="leona.name" /><span
            >{{ leona.name }}
          </span>
        </a>
        and
        <a
          class="item_with_image_round"
          [href]="navigationService.getItemByName(jinx.name).link"
        >
          <img [src]="jinx.icon" [alt]="jinx.name" /><span
            >{{ jinx.name }}
          </span>
        </a>
        are very strong early on.
      </p>
    </div>
  </div>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    <div
      class="tierlist__container"
      *ngFor="let tier of tierService.getTiers()"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- champions -->
        <div
          class="tierlist__container__content__item"
          *ngFor="let champ of championService.getChampionsByTier(tier.name)"
        >
          <a [href]="navigationService.getItemByName(champ.name).link">
            <img
              [src]="champ.icon"
              [alt]="champ.name"
              [ngStyle]="{ '--tiercolor': tier.color }"
            />
            <span>{{ champ.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- weapons tier list -->
  <div class="subheader">
    <i class="subheader__image ri-sword-fill"></i>
    <span class="subheader__text">Weapons tier list</span>
  </div>
  <!-- description -->
  <div class="container-wrapper-vertical">
    <p class="tierlist-desc">
      Strongest swarm weapons across all champions and playstyles.
    </p>
  </div>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    <div
      class="tierlist__container"
      *ngFor="let tier of tierService.getTiers()"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- weapons -->
        <div
          class="tierlist__container__content__item"
          *ngFor="let weapon of weaponsService.getWeaponsByTier(tier.name)"
        >
          <a>
            <img
              [src]="weapon.icon"
              [alt]="weapon.name"
              [ngStyle]="{ '--tiercolor': tier.color }"
            />
            <span>{{ weapon.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
