<div class="article">
  <!-- header -->
  <div class="header">
    <div class="header__image" [ngClass]="tierlistNavigation.icon"></div>
    <span class="header__text">Tier list</span>
  </div>

  <!-- champion tier list -->
  <ng-container
    *ngTemplateOutlet="
      template_subheader;
      context: {
        text: 'Champion tier list',
        icon: 'ri-team-fill',
        subheaderAnimationDelay: 0
      }
    "
  ></ng-container>

  <div class="container-wrapper-vertical">
    <div
      class="textbox flyinAnimation"
      [ngStyle]="{ 'animation-delay': 0.1 + 's' }"
    >
      <p>
        Strongest champions based on unique weapon, damage, and solo-play
        potential.
        <a
          class="item_with_image image_round_with_border champion"
          [href]="championNavigationService.getItemByName(briar.name).link"
        >
          <img [src]="briar.icon" [alt]="briar.name" /><span
            >{{ briar.name }}
          </span> </a
        >,
        <a
          class="item_with_image image_round_with_border champion"
          [href]="championNavigationService.getItemByName(leona.name).link"
        >
          <img [src]="leona.icon" [alt]="leona.name" /><span
            >{{ leona.name }}
          </span>
        </a>
        and
        <a
          class="item_with_image image_round_with_border champion"
          [href]="championNavigationService.getItemByName(jinx.name).link"
        >
          <img [src]="jinx.icon" [alt]="jinx.name" /><span
            >{{ jinx.name }}
          </span>
        </a>
        are very strong early on.
      </p>
    </div>
  </div>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    @for (tier of tierService.getTiers(); track tier; let i = $index) {
    <div
      class="tierlist__container flyinAnimation"
      [ngStyle]="{ 'animation-delay': 0.2 + i * 0.1 + 's' }"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- champions -->
        @for (champ of championService.getChampionsByTier(tier.name); track
        champ) {
        <div class="tierlist__container__content__item">
          <a [href]="championNavigationService.getItemByName(champ.name).link">
            <img
              [src]="champ.icon"
              [alt]="champ.name"
              [ngStyle]="{ '--tiercolor': tier.color }"
            />
            <span>{{ champ.name }}</span>
          </a>
        </div>
        }
      </div>
    </div>
    }
  </div>

  <!-- weapons tier list -->
  <ng-container
    *ngTemplateOutlet="
      template_subheader;
      context: {
        text: 'Weapons tier list',
        icon: 'ri-sword-fill',
        subheaderAnimationDelay: 0.2 + tierService.getTiers().length * 0.1
      }
    "
  ></ng-container>

  <!-- description -->
  <div class="container-wrapper-vertical">
    <p
      class="tierlist-desc flyinAnimation"
      [ngStyle]="{
        'animation-delay': 0.2 + tierService.getTiers().length * 0.1 + 0.1 + 's'
      }"
    >
      Strongest swarm weapons across all champions and playstyles.
    </p>
  </div>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    @for (tier of tierService.getTiers(); track tier; let i = $index) {
    <div
      class="tierlist__container flyinAnimation"
      [ngStyle]="{
        'animation-delay':
          0.2 + tierService.getTiers().length * 0.1 + 0.2 + i * 0.1 + 's'
      }"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- weapons -->
        @for (weapon of weaponsService.getWeaponsByTier(tier.name); track
        weapon) {
        <div class="tierlist__container__content__item">
          <a>
            <img
              [src]="weapon.icon"
              [alt]="weapon.name"
              [ngStyle]="{ '--tiercolor': tier.color }"
            />
            <span>{{ weapon.name }}</span>
          </a>
        </div>
        }
      </div>
    </div>
    }
  </div>
</div>

<!-- subheader -->
<ng-template
  #template_subheader
  let-text="text"
  let-icon="icon"
  let-subheaderAnimationDelay="subheaderAnimationDelay"
>
  <div
    class="subheader flyinAnimation"
    [ngStyle]="{
      'animation-delay': subheaderAnimationDelay + 's'
    }"
  >
    <i class="subheader__image" [ngClass]="icon"></i>
    <span class="subheader__text">{{ text }}</span>
  </div>
</ng-template>
