.tierlist-desc {
  color: #bbbedb;
  line-height: 32px;
  font-size: 18px;
  margin: 0px;

  a {
    color: #3273fa;
    text-decoration: none;
  }

  strong {
    color: #fff;
  }
}

.tierlist {
  &__container {
    display: flex;
    background-color: #191937;
    flex-grow: 1;
    border-radius: 6px;

    &__label {
      --tiercolor: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--tiercolor);
      color: #fff;
      border-radius: 6px 0 0 6px;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      width: 30px;
      min-width: 30px;
    }

    &__content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      padding: 24px;
      gap: 18px;

      &__item {
        display: flex;
        flex-grow: 1;
        max-width: 150px;
        min-width: 150px;

        a {
          display: flex;
          flex-direction: row;
          gap: 6px;
          text-decoration: none;
          color: #cddcfe;

          // hover only item when href exists
          &:hover[href] {
            color: #3273fa;
          }
        }

        img {
          --tiercolor: #fff;
          height: 50px;
          width: 50px;
          border: 1px solid var(--tiercolor);
          border-radius: 3px;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
        }
      }
    }
  }
}
