<div class="article">
  <!-- header -->
  <div class="header">
    <img class="header__image" src="assets/tierlist.png" />
    <span class="header__text">Tier list</span>
  </div>

  <!-- champion tier list -->
  <div class="subheader">
    <i class="subheader__image ri-team-fill"></i>
    <span class="subheader__text">Champion tier list</span>
  </div>

  <!-- description -->
  <div class="container-wrapper-vertical">
    <p class="tierlist-desc">
      Strongest champions based on unique weapon, damage, and solo-play
      potential.<br />
      <strong>For new players: </strong><a href="/briar">Briar</a>,
      <a href="/leona">Leona</a>, and <a href="/jinx">Jinx</a> are very strong
      early on.
    </p>
  </div>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    <div
      class="tierlist__container"
      *ngFor="let tier of tierService.getTiers()"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- champions -->
        <div
          class="tierlist__container__content__item"
          *ngFor="let champ of championService.getChampionsByTier(tier.name)"
        >
          <a [href]="navigationService.getItemByName(champ.name).link">
            <img [src]="champ.icon" [ngStyle]="{ '--tiercolor': tier.color }" />
            <span>{{ champ.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- weapons tier list -->
  <div class="subheader">
    <i class="subheader__image ri-sword-fill"></i>
    <span class="subheader__text">Weapons tier list</span>
  </div>
  <!-- description -->
  <p class="tierlist-desc">
    Strongest swarm weapons across all champions and playstyles.
  </p>

  <div class="container-wrapper-vertical" [ngStyle]="{ gap: '12px' }">
    <div
      class="tierlist__container"
      *ngFor="let tier of tierService.getTiers()"
    >
      <div
        class="tierlist__container__label"
        [ngStyle]="{ '--tiercolor': tier.color }"
      >
        {{ tier.name }}
      </div>
      <div class="tierlist__container__content">
        <!-- weapons -->
        <div
          class="tierlist__container__content__item"
          *ngFor="let weapon of weaponsService.getWeaponsByTier(tier.name)"
        >
          <a>
            <img
              [src]="weapon.icon"
              [ngStyle]="{ '--tiercolor': tier.color }"
            />
            <span>{{ weapon.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
