<div class="article">
  <ng-container *ngTemplateOutlet="template_header"></ng-container>
  <!-- tip -->
  @if(tip.texts.length > 0) {
  <ng-container
    *ngTemplateOutlet="
      template_textbox_with_items;
      context: {
        subheader: 'Tip',
        subheaderIcon: 'ri-lightbulb-fill',
        subheaderAnimationDelay: calcTipDelay(),
        content: tip
      }
    "
  ></ng-container>
  }
  <!-- unlock -->
  @if(unlock.texts.length > 0) {
  <ng-container
    *ngTemplateOutlet="
      template_textbox_with_items;
      context: {
        subheader: 'How to unlock ' + champ.name,
        subheaderIcon: 'ri-lock-unlock-fill',
        subheaderAnimationDelay: calcUnlockDelay(),
        content: unlock
      }
    "
  ></ng-container>
  }
  <!-- objectives -->
  @if(objective.texts.length > 0) {
  <ng-container
    *ngTemplateOutlet="
      template_textbox_with_items;
      context: {
        subheader: 'Objectives',
        subheaderIcon: 'ri-award-fill',
        subheaderAnimationDelay: calcObjectiveDelay(),
        content: objective
      }
    "
  ></ng-container>
  }
  <!-- augments -->
  @if(augments.length > 0) {
  <ng-container *ngTemplateOutlet="template_augments"></ng-container>
  }
  <!-- itembuilds -->
  @if(itemBuilds.length > 0) {
  <ng-container *ngTemplateOutlet="template_itembuilds"></ng-container>
  }

  <!-- header -->
  <ng-template #template_header>
    <div class="header">
      <img class="header__image" [src]="champ.icon" [alt]="champ.name" />
      <span class="header__text">{{ champ.name }}</span>
    </div>
  </ng-template>

  <!-- subheader -->
  <ng-template
    #template_subheader
    let-text="text"
    let-icon="icon"
    let-animationDelay="animationDelay"
  >
    <div
      class="subheader flyinAnimation"
      [ngStyle]="{ 'animation-delay': animationDelay + 's' }"
    >
      <i class="subheader__image" [ngClass]="icon"></i>
      <span class="subheader__text">{{ text }}</span>
    </div>
  </ng-template>

  <!-- item with image -->
  <ng-template #template_item_with_image let-item>
    <a
      class="item_with_image"
      [attr.href]="item.link ? item.link : null"
      [class.image_round_with_border]="
        isWeapon(item) || isAbility(item) || isChampion(item) || isPassive(item)
      "
      [class.weapon]="isWeapon(item)"
      [class.ability]="isAbility(item)"
      [class.champion]="isChampion(item)"
      [class.passive]="isPassive(item)"
      [class.difficulty]="isDifficulty(item)"
    >
      <img [src]="item.item.icon" [alt]="item.item.name" /><span>{{
        item.item.name
      }}</span>
    </a>
  </ng-template>

  <!-- textbox with items -->
  <ng-template
    #template_textbox_with_items
    let-subheader="subheader"
    let-subeaderIcon="subheaderIcon"
    let-content="content"
    let-subheaderAnimationDelay="subheaderAnimationDelay"
  >
    <ng-container
      *ngTemplateOutlet="
        template_subheader;
        context: {
          text: subheader,
          icon: subeaderIcon,
          animationDelay: subheaderAnimationDelay
        }
      "
    ></ng-container>

    <div
      class="container-wrapper-vertical flyinAnimation"
      [ngStyle]="{ 'animation-delay': subheaderAnimationDelay + 0.1 + 's' }"
    >
      <div class="box textbox">
        <p>
          @for (text of content.texts; track text; let i = $index) {
          <ng-template #defaultText let-text>{{ text }}</ng-template>

          <!-- normal text -->
          @if(!matchRegex(text, '\\$\\d+')) {
          <ng-container
            *ngTemplateOutlet="
              defaultText;
              context: {
                $implicit: text
              }
            "
          ></ng-container>
          }
          <!-- item with image -->
          @if(matchRegex(text, '\\$\\d+')) {
          <ng-container
            *ngTemplateOutlet="
              template_item_with_image;
              context: {
                $implicit: content.items[+text.substring(1)]
              }
            "
          ></ng-container>
          } }
        </p>
      </div>
    </div>
  </ng-template>

  <!-- augments -->
  <ng-template #template_augments>
    <ng-container
      *ngTemplateOutlet="
        template_subheader;
        context: {
          text: 'Recommended Yuumi augments',
          icon: 'ri-flashlight-fill',
          animationDelay: calcAugmentDelay()
        }
      "
    ></ng-container>

    <div class="container-wrapper-vertical">
      @for (augment of augments; track augment; let i = $index) {
      <div
        class="box augment flyinAnimation"
        [ngStyle]="{
          'animation-delay': calcAugmentDelay() + 0.1 + i * 0.1 + 's'
        }"
      >
        <img class="augment__icon" [src]="augment.icon" [alt]="augment.name" />
        <div class="augment__container">
          <div class="augment__container__name">
            {{ augment.name }}
          </div>
          <div
            class="augment__container__desc"
            [innerHTML]="augment.desc"
          ></div>
        </div>
      </div>
      }
    </div>
  </ng-template>

  <!-- itembuilds -->
  <ng-template #template_itembuilds>
    <ng-container
      *ngTemplateOutlet="
        template_subheader;
        context: {
          text: 'Builds',
          icon: 'ri-book-shelf-fill',
          animationDelay: calcItemBuildDelay()
        }
      "
    ></ng-container>

    <div class="container-wrapper-vertical">
      @for (itemBuild of itemBuilds; track itemBuild) {
      <div
        class="itembuild flyinAnimation"
        [ngStyle]="{ 'animation-delay': calcItemBuildDelay() + 0.1 + 's' }"
      >
        <div class="itembuild__top">
          <!-- name and desc on left side -->
          <div class="itembuild__top__left">
            <div class="itembuild__top__left__name">
              {{ itemBuild.name }}
            </div>
            <div class="itembuild__top__left__desc">
              {{ itemBuild.desc }}
            </div>
          </div>

          <!-- abilities and weapons on right side -->
          <div class="itembuild__top__right">
            <div class="itembuild__top__right__area">
              <div class="itembuild__top__right__area__title">Abilities</div>
              <div class="itembuild__top__right__area__content">
                <!-- abilities -->
                @for (ability of itemBuild.abilities; track ability) {
                <div class="itembuild__top__right__area__content__item">
                  <img
                    class="itembuild__top__right__area__content__item__image"
                    [src]="ability.icon"
                    [alt]="ability.name"
                  />
                  <p
                    class="itembuild__top__right__area__content__item__item-text"
                  >
                    {{ ability.type }}
                  </p>
                </div>
                }
              </div>
            </div>

            <div class="itembuild__top__right__area">
              <div class="itembuild__top__right__area__title">Weapons</div>
              <div class="itembuild__top__right__area__content">
                <!-- weapons -->
                @for (weapon of itemBuild.weapons; track weapon) {
                <div class="itembuild__top__right__area__content__item">
                  <img
                    class="itembuild__top__right__area__content__item__image"
                    [src]="weapon.iconEvolve"
                    [alt]="weapon.name"
                  />
                  <p
                    class="itembuild__top__right__area__content__item__item-text"
                  >
                    {{ weapon.name }}
                  </p>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        <!-- passives on the bottom -->
        <div class="itembuild__bottom">
          <div class="itembuild__bottom__title">Passives</div>
          <div class="itembuild__bottom__content">
            <div class="itembuild__bottom__content__passives">
              @for (passive of itemBuild.passives; track passive) {
              <div class="itembuild__bottom__content__passives__passive">
                <img [src]="passive.icon" [alt]="passive.name" />
                <div
                  class="itembuild__bottom__content__passives__passive__name"
                >
                  {{ passive.name }}
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </ng-template>
</div>
