.objective {
  p {
    color: #bbbedb;
    line-height: 32px;
    font-size: 18px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.augment {
  &__icon {
    height: 66px;
    width: 66px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    gap: 8px;

    &__name {
      color: #ff9900;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    &__desc {
      color: #fff;
      font-size: 16px;
      line-height: 34px;
      strong {
        color: #7950f2;
        font-weight: normal;
      }
    }
  }
}

.itembuild {
  display: flex;
  flex-direction: column;
  background-color: #191937;
  flex-grow: 1;
  border-radius: 6px;
  padding: 24px;
  gap: 8px;

  &__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 12px;

      &__name {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        color: #fff;
        margin-top: 12px;
      }

      &__desc {
        width: fit-content;
        padding: 0 10px;
        margin-bottom: 12px;
        border-radius: 6px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color: #fff;
        background: #30305c;
      }
    }

    &__right {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: flex-end;

      &__area {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__title {
          color: #ff9900;
          border-radius: 6px;
          padding: 0 10px;
          background-color: #30305c;
          text-align: center;
        }
        &__content {
          display: flex;
          flex-direction: row;
          gap: 16px;
          flex-wrap: wrap;

          &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60px;

            &__image {
              height: 56px;
              width: 56px;
              border-radius: 6px;
              margin-bottom: 10px;
              border: 2px solid #383864;
            }

            &__item-text {
              font-size: 11px !important;
              line-height: 14px !important;
              text-align: center;
              text-wrap: wrap !important;
              color: #9c9ccb !important;
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__title {
      color: #ff9900;
      border-radius: 6px;
      padding: 0 10px;
      background-color: #30305c;
      text-align: center;
    }

    &__content {
      display: flex;
      flex-direction: row;
      flex-grow: 1;

      &__attributes {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        gap: 16px;
        flex-wrap: wrap;

        &__attribute {
          display: flex;
          flex-direction: column;
          align-items: center;
          min-width: 150px;
          max-width: 150px;
          gap: 6px;

          img {
            height: 48px;
            width: 48px;
          }

          &__name {
            font-size: 14px;
            color: #cddcfe;
          }
        }
      }
    }
  }
}
